#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.box-1 {
  min-width: 100px;
  width: 20vw;
  max-width: 200px;
  height: 100vh;
  background-color: rgb(42, 99, 113);
}

.contenedor-izq,
.item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}

.box-2 {
  height: 100vh;
  min-width: 220px;
  width: calc(80vw + 200px);
}

.navHorizontal {
  min-height: 60px;
  height: 8vh;
  width: 100%;
  background-color: rgb(65, 123, 138);
}

.contenedor-horizontal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.usuario {
  border-radius: 96%;
  height: 60px;
  width: 60px;
}

.name {
  padding: 0px 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.item-container li {
  color: white;
  margin-bottom: 20px;
  transition: background-color 0.5s;
}

.item-container li:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: black;
  background-color: rgb(245, 242, 237);
}
